<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="media border p-2 my-2" *ngFor="let item of recipes">
      <img [src]="item.imgPath" alt="John Doe" class="mr-3 mt-2 rounded-circle"
        style="width:60px; height:60px; object-fit: cover;">
      <div class="media-body">
        <h4>{{item.name}}</h4>
        <p>{{item.desc}}</p>
      </div>
    </div>
  </div>
</div>

<app-recipe-item></app-recipe-item>